// Button Styles
.btn {
  @include heading-font;
  font-weight: 500;
}

section#contact {
  .btn-xl {
    font-size: 17px;
    padding: 17px 0px;
    width: 100%;        
  }  
}

.btn-xl {
  font-size: 17px;
  padding: 15px 80px;
  
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($orange-dprof, 7.5%) !important;
    border-color: darken($orange-dprof, 7.5%) !important;
    color: white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.1rem white !important;
  }
}
