// Styling for the masthead

header.masthead {
  text-align: center;
  color: white;
  background-image: url("#{$header-image}");  
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom;
  background-size: cover;
  
  .intro-text {
    padding-top: 190px;
    padding-bottom: 360px;
    
    
    .intro-lead-in {
      font-size: 25px;
      font-style: italic;
      line-height: 50px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 25px;
      font-weight: 500;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 180px;
      padding-bottom: 380px;      
      .intro-lead-in {
        font-size: 25px;
        font-style: italic;
        line-height: 50px;
        margin-bottom: 25px;
        @include serif-font;
      }

      // Estilo da Fonte do Título Principal
      .intro-heading {
        font-size: 40px;
        font-weight: 500;
        line-height: 70px;
        margin-bottom: 0px;
        @include heading-font;
      }
    }
  }
}
