// Global CSS Custom
  
  p.text-muted {    
    text-transform: none!important;
    font-style: normal!important;    
  }

  .text-uppercase {    
    text-transform: none!important;
  }

  .bg-light {    
    background-color:$gray-200!important;
  }

  .text-light {    
    color:$gray-100!important;
  }
