// Global CSS Custom
  
  .text-muted {    
    text-transform: none!important;
    font-style: normal!important;
    color: $gray-800!important;    
  }

  .text-uppercase {    
    text-transform: none!important;
  }

  .bg-light {    
    background-color:$gray-200!important;
  }

  .text-light {    
    color:$gray-100!important;
  }


  h4.service-heading {
    font-size: 24px;
    font-weight: 500;            
  }

  h2.section-heading {
    color:$black;
  }

  .distak {
    color:$orange-dprof;
    font-weight: 500;
  }