// Global CSS Custom
  
  .text-muted {    
    text-transform: none!important;
    font-style: normal!important;
    // color: $gray-900!important;    
  }

  .text-uppercase {    
    text-transform: none!important;
  }

  .bg-light {    
    background-color:$blue-light-dprof!important;
  }

  .text-light {    
    color:$gray-100!important;
  }

  .service-heading {    
    color:$black!important;
    font-weight: 600;
  }

  .subheading {    
    color:$black!important;
    font-weight: 500;
  }


  h4.service-heading {
    font-size: 24px;
    font-weight: 500;            
  }

  h4 {
    color:$black;
    font-weight: 500;
  }

  h2.section-heading {
    color:$black;
  }

// Cor do texto em destaque
  .distak {
    color:$orange-dprof;
    font-weight: 500;
  }

// Ajuste responsivo no espaço entre imagens na seçao clientes
  .d-block {
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
}