// Global styling for this template

body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.6;
}

a {
  color: $primary;
  &:hover {
    color: darken($orange-dprof, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {    
  @include heading-font;
}

.page-section {
  padding: 100px 0px;
}

#about {
  padding-bottom: 60px;
}
    
h1.section-heading {
  font-size: 40px;  
}


  h2.section-heading {
    font-size: 40px;    
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 1.6;      
  }
  
  h3.section-subheading {
    font-size: 18px;
    font-weight: 400;    
    margin-bottom: 50px;
    line-height: 1.6;      
    @include serif-font;
  }

  h4 {
    font-size: 18px;
    font-weight: 500;    
    line-height: 1.6;          
  }

@media (max-width: 400px) {
  
  h1.section-heading {
    font-size: 30px;  
  }
  
  
  h2.section-heading {
      font-size: 30px;    
      margin-top: 0;
      margin-bottom: 15px;
      line-height: 1.6;      
  }
    
  h3.section-subheading {
      font-size: 16px;
      font-weight: 400;    
      margin-bottom: 50px;
      line-height: 1.6;      
      @include serif-font;
  }
  
  h4 {
      font-size: 16px;
      font-weight: 500;    
      line-height: 1.6;          
  }

}

@media (min-width: 768px) {
  
  section {
    padding: 150px 0;
  }

}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
